@font-face {
    font-family: "TrebuchetMS";
    src: url(../fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(../fonts/websymbols-regular-webfont.eot);
    /*Para IE*/
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg"),
    url(../fonts/websymbols-regular-webfont.woff) format("woff"),
    url(../fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/pattern.png);
}
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-family: "BebasNeue";
}
.wrap{
    margin: 0px auto;
    width: 1200px;
}
.icon{
    font-family: "WebSymbolsRegular";
}


#logo{
    float: left;
    width: 200px;
    background-color: #37bcf9;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 8px;
    margin-left:20px;
}
#logo > #gear{
    float: left;
    margin-left: 26px;
    margin-top: 8px;
    font-size: 30px;
}
#logo_title{
    float: right;
    transition: all 300ms;
    margin-right: 66px;
    margin-top: 5px;
}
#menu{
    float:right;
    height: 70px;
}
.boton_menu{
    float: left;
    margin: 0px 20px 0px 20px;
    line-height: 70px;
}
.boton_menu > a{
    display: block;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#menu > div >a:hover{
    color: #37bcf9;
    transform: scale(1.2);
}
#menu > div:hover >a{
    color: #37bcf9;
    transform: scale(1.2);
}

/*Banner*/

#banner{
    width: 95%;
    height: 100px;
    margin: 20px auto;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background-image: url(../img/bakbaner.png);
    background-position: -200px -200px;
    
    
}
#texto_banner{
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
    font-family: BebasNeue;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}
/*Cards*/
.widget-card{
    float: left;
    height: 300px;
    width: 200px;
    margin: 17px;
    margin-top: 40px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    cursor: pointer;
    overflow: hidden;
    font-family: "TrebuchetMS";
    color:#0C558c;
    text-align: center;
}
.widget-icon{
    color:black;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    width: 100%;
    margin: 0px auto;
}
.widget-card .category{
    margin-top: 20px;
    font-size: 21px;
    font-weight: bold;
}
.widget-card .description-category{
    margin-top: 40px;
    font-size: 15px;
    color:#0370b9;
}