@font-face {
    font-family: "TrebuchetMS";
    src: url(../fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(../fonts/websymbols-regular-webfont.eot);
    /*Para IE*/
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg"),
    url(../fonts/websymbols-regular-webfont.woff) format("woff"),
    url(../fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/pattern.png);
}
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-family: "BebasNeue";
}
.wrap{
    margin: 0px auto;
    width: 1200px;
}
.icon{
    font-family: "WebSymbolsRegular";
}

.clear_fix{
    float: none;
    clear: both;
}
#logo{
    float: left;
    width: 200px;
    background-color: #37bcf9;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 8px;
    margin-left:20px;
}
#logo > #gear{
    float: left;
    margin-left: 26px;
    margin-top: 8px;
    font-size: 30px;
}
#logo_title{
    float: right;
    transition: all 300ms;
    margin-right: 66px;
    margin-top: 5px;
}
#menu{
    float:right;
    height: 70px;
}
.boton_menu{
    float: left;
    margin: 0px 20px 0px 20px;
    line-height: 70px;
}
.boton_menu > a{
    display: block;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#menu > div >a:hover{
    color: #37bcf9;
    transform: scale(1.2);
}
#menu > div:hover >a{
    color: #37bcf9;
    transform: scale(1.2);
}

/*Banner*/

#banner{
    width: 95%;
    height: 100px;
    margin: 20px auto;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background-image: url(../img/bakbaner.png);
    background-position: -200px -200px;
    
    
}
#texto_banner{
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
    font-family: BebasNeue;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}
/*Cards*/
.widget-card{
    float: left;
    height: 300px;
    width: 200px;
    margin: 17px;
    margin-top: 40px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    cursor: pointer;
    overflow: hidden;
    font-family: "TrebuchetMS";
    color:#0C558c;
    text-align: center;
}
.widget-icon{
    color:black;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    width: 100%;
    margin: 0px auto;
}
.widget-card .category{
    margin-top: 20px;
    font-size: 21px;
    font-weight: bold;
}
.widget-card .description-category{
    margin-top: 40px;
    font-size: 15px;
    color:#0370b9;
}
#barra_lateral{
    float: right;
    width: 300px;
    min-height: 1200px;
    font-family: "TrebuchetMS";
    margin-right: 35px;
}
.titulo_gris{
    width: auto;
    height: 45px;
    box-shadow: 0px 1px 0px #393d3f,1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f ;
    background-image: url(../img/pxgray.png);
    font-family: BebasNeue;
    font-size: 30px;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 49px;
}
#search{
    width: 90%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc inset;
}
#search >form> input[type="text"]{
    width: 85%;
    border: none;
    padding-left: 5px;
    background-color: transparent;
    color: #ccc;
    border-radius: 5px;
    line-height: 30px;
    float: left;
}
#search >form> input[type="button"]{
    width: 10%;
    cursor: pointer;
    line-height: 30px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #555;
    border-left: 1px solid #ccc;
    padding-left: 5px;
    float: left;
    transition: all 200ms;
}
#search >form> input[type="text"]:focus{
    color:#393d3f;
}

.box_aside{
    width: 85%;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 1px white inset, 0px -3px 2px rgba(0,0,0,0.3) inset ;
}

#login > form> input[type = "email"], #login > form> input[type = "password"]{
    width: 85%;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    color: #ccc;
    border-radius: 5px;
    line-height: 30px;
    box-shadow: 1px 1px 1px #ccc inset;
    padding-left: 10%;
}
#login > form> input[type = "email"]:focus, #login > form> input[type = "password"]:focus{
    color: #555;
    text-shadow: 1px 1px 1px grey inset;
}
#user, #password{
    position: absolute;
    
}
#user{
    margin-top: 0.4%;
    margin-left: 0.6%;
}
#password{
    margin-top: 1.9%;
    margin-left: 0.8%;
}
#login > form > input[type="submit"], #login > form > input[type="reset"]{
    display: block;
    float: left;
    margin-top: 20px;
    color:white;
    width: 100px;
    height: 35px;
    text-align: center;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    border: 1px solid #156785;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'TrebuchetMS';
    margin-left: 15px;
    transition: all 200ms;
    margin-bottom: 15px;
}

#login > form > input[type="submit"]:hover, #login > form > input[type="reset"]:hover{
    box-shadow: 0px 0px 3px gray; /*Efecto para seleccionar botón*/

}

#login > a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-left: 18px;
    color: black;
    margin-top: 2px;
}


#login >a:hover{
    text-decoration: underline;
    color: #2f78bc;
}

.red-social-icon{
    font-size: 30px;
    margin: 15px auto;
    padding-left: 20px;
    
}
.red-social-icon >a{
    text-decoration: none;
    color: black;
}
#articulos{
    margin: 0px auto;
    margin-top: 30px;
    width: 750px;
    float: left;
    padding-left: 1.5%;

}
#titulo_principal_articulos{
    height: 75px;
    text-align: center;
    box-shadow: 0px 1px 0px #393d3f,1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f ;
    background-image: url(../img/pxgray.png);
    font-family: BebasNeue;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 75px;
    margin-bottom: 5%;     
}

.articulo{
    margin: 40px auto;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-family: "TrebuchetMS";
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px #ddd;
}
.titulo_articulo >a{
    display: block;
    font-size: 23px;
    margin: 3px;
    text-decoration: none;
    color:#0C558c;
    
}

.titulo_articulo >a:hover{
    text-decoration: underline;
}

.data_articulo{
    float: right;
    background-color: #393d3f;
    color:white;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    margin: -10px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}
.fecha_articulo{
    display: inline;
}
.categoria_articulo{
    margin-left: 8px;
    display: inline;
}
.articulo > .descripcion{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
#boton_blog{
    height: 100px;
    margin-top: 60px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
}
#boton_blog >a{
    font-size: 40px;
    display: block;
    line-height: 100px;
    text-align: center;
    font-family: BebasNeue;
    text-decoration: none;
    color:#0C558c;
    letter-spacing: 3px;
}