@font-face {
    font-family: "TrebuchetMS";
    src: url(../fonts/TrebuchetMS);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(../fonts/websymbols-regular-webfont.eot);
    /*Para IE*/
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg"),
    url(../fonts/websymbols-regular-webfont.woff) format("woff"),
    url(../fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales */

#gear{
    font-family: "WebSymbolsRegular";
}